@import 'partials/reset';
@import 'partials/typography';
@import 'partials/base';
@import 'partials/usercolors';

* {
	@include transition-all(all .5s ease);
}

body {
	background:$body;
	color:$body-text
}

.see-all {
	font-family:$regular;
	font-size:15px;
	display:inline-block;
	color:#888888;
	margin-top:20px;
}

.main-header {
	width:100%;
	height:90px;
	background:#ffffff;
	border-bottom:1px solid #c1c1c1;
	padding-top:25px;
	.header-logo {

	}
	.header-category {
		font-size:0;
		.category-item {
			font-family: $medium;
			width:125px;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
			padding:0;
			vertical-align: middle;
			display: inline-block;
			&:first-of-type{
				width: 175px;
			}
			@media screen and (max-width:1200px){
				width:40px;
				&:first-of-type{width:40px;}
			}
			img {
				display:inline-block;
				vertical-align: middle;
				margin-top: -7px;
			}
			.category-info {
				display:inline-block;
				vertical-align: middle;
				@media screen and (max-width:1200px){
					display:none;
				}
			}
		}
		.category-premium {
			width:175px;
			@media screen and (max-width:1200px){
				width:120px;
				text-align: center;
			}
			.category-info {
				@media screen and (max-width:1200px){
					display:inline-block;
				}
			}
		}
	}
	.header-user {
		.menu-triangle {
			width: 15px;
			height: 15px;
			position: absolute;
			top: -7px;
			right: 15px;
			border-top: 7px solid red;
			border-right: 7px solid #ffffff;
			border-bottom: 8px solid #ffffff;
			border-left: 8px solid red;
			@include transform-rotate(45deg);
		}
		.user-notifications {
			position: relative;
			z-index: 1000;
			.notifications-img {
				cursor:pointer;
			}
			.notifications-menu {
				display:none;
				position: absolute;
				top: 51px;
				right:-7px;
				.notifications-list {
					width:300px;
					list-style: none;
					background:#ffffff;
					border:1px solid $border-color;
					li {
						line-height: 50px;
					}
				}
			}
		}
		.user-profile {
			margin-top: 10px;
			position: relative;
			.user-profile-img {
				width: 25px;
				height: 25px;
				background:red;
				border-radius:50%;
				overflow: hidden;
				cursor:pointer;
			}
			.user-menu{
				display:none;
				position: absolute;
				z-index: 1000;
				top: 41px;
				left: -60px;
				.user-menu-list {
					list-style: none;
					background:#ffffff;
					border:1px solid $border-color;
					li {
						padding:15px;
					}
				}
			}
		}
	}
}

.profile-box-info {
	width:100%;
	height:35px;
	margin-top:20px;
	.profile-item {
		font-family:$bold;
		font-size:16px;
		display: inline-block;
		margin-right: 10px;
		> span {
			display:inline-block;
			vertical-align: middle;
			line-height: 30px;
		}
	}
}

.box-upper {
	width: 100%;
	height: 230px;
	background: url('../img/img-jakies.jpg');
	position: relative;
	z-index: -200;
	.sport-category {
		padding:5px 15px;
		position: absolute;
		top:10px;
		right:0;
		background:#1bb24b;
		color:#ffffff;
	}
}

.box-bottom {
	width: 100%;
	position: relative;
	margin-top: -20px;
	&:before {
		position: absolute;
		content:"";
		width: 390px;
		height: 250px;
		left:-15px;
		background:url('/img/background-events.jpg') ;
		@include transform-rotate(-5deg);
		z-index: -100;
	}
}
.event-info {
	height: 165px;
	font-size: 0;
	padding:15px 10px 0 10px;
	.event-calendar {
		width: 83px;
		height: 111px;
		background: #1bb24b;
		display: inline-block;
		padding:5px;
		font-size: 16px;
		text-align:center;
		margin-top: 15px;
		vertical-align: top;
		.calendar-date {
			font-family: $heavy;
			font-size: 16px;
			background:#ffffff;
			color:#1bb24b;
			height: 70px;
			padding-top:5px;
			span {
				font-size: 44px;
			}
		}
		.calendar-time {
			font-family: $regular;
			font-size: 20px;
			color:#ffffff;
			padding:8px;
		}
	}
	.event-descr{
		width: 100%;
		max-width: 260px;
		font-size: 16px;
		display: inline-block;
		background:transparent;
		padding-left:10px;
		vertical-align: top;
		margin-top: 15px;
		h4 {
			font-family:$heavy;
			font-size: 22px;
			margin-bottom: 15px;
			vertical-align: top;
		}
		.event-address {

		}
	}
}
.event-bottom {
	padding:15px;
	font-size: 0;
	width: 100%;
	height:auto;
	.icon {
		font-size:16px;
		display: inline-block;
		> span {
			display: inline-block;
			vertical-align: middle;
			line-height: 30px;
		}
	}
}




.search-box {
	background:#1bbda9;
	line-height:40px;
	padding:15px 0;
	input {
		background:#1bbda9;
		border:none;
		color:#37c5b3;
		font-size: 40px;
	}
}

.home-section {
	margin-top:50px;
}
.profile-box {
	width:100%;
	max-width: 380px;
	height: 100%;
	max-height: 140px;
	background:#dd357f;
	padding:19px;
	color:#ffffff;
	margin-bottom: 30px;
	border:1px solid $border-color;
	.profile-img {
		width: 95px;
		height: 95px;
		display: inline-block;
		vertical-align: top;
		background:red;
		border-radius: 50%;
		border:1px solid #ffffff;
	}
	.profile-desc {
		width: 220px;
		height: 110px;
		display: inline-block;
		vertical-align: top;
		padding-left:10px;
		span {
			font-family: $light;
		}
	}
}
.new-assigns {
	width: 100%;
	max-width: 380px;
	height: 100%;
	max-height: 460px;
	background:rgba(232,232,232,0.6);
	margin-bottom: 30px;
	border:1px solid $border-color;
	padding:20px 20px;
}
.new-persons {
	width: 100%;
	max-width: 380px;
	height: 100%;
	max-height: 440px;
	margin-bottom: 30px;
	border:1px solid $border-color;
	padding:20px 20px;
	.new-persons-h3 {
		font-family:$regular;
		margin:0 auto;
	}
}
.my-events, .new-events {margin:0 auto 40px;}
.home-event-box {
	width:100%;
	max-width: 320px;
	height:100%;
	background:$home-color;
	padding:15px;
	border:1px solid $border-color;
	.event-info {
		padding:0;
		.event-calendar{
			background:$home-fill;
			.calendar-date {
				color: $home-fill;
				background:$home-color;
			}
			.calendar-time {
				color:$home-color;
			}
		}
		.event-descr {
			max-width: 205px;
			color:$home-text;
		}
	}
	.event-bottom {
		padding:0;
		color:$home-text;
		>div{
			width:50%;
		}
		> div:last-of-type {
			text-align: right;		}
	}
}
.fit-box {
	background:#ffffff;
	padding:19px;
	border:1px solid $border-color;
	margin-bottom:20px;
	.fit-user {
		.fit-picture {
			width:60px;
			height: 60px;
			border:2px solid blue;
			border-radius:50px;
			background:red;
			overflow: hidden;
			display:inline-block;
			vertical-align: middle;

		}
		.fit-info {
			width: 255px;
			display:inline-block;
			vertical-align: middle;
			padding-left:15px;
			font-family: $regular;
			font-size: 16px;
			.bolded {
				font-family: $heavy;
			}
		}
	}
	.fit-content {
		margin-top: 10px;
		.box-upper {
			height: 200px;
			background-size:100%;
			z-index: 0;
		}
		.box-bottom{
			z-index: 0;
			&:before {
				width:100%;
				height: 100%;
				background:#ffffff !important;
				@include transform-rotate(0deg);
				left:0;
			}
			.event-info {
				height: 200px;
				padding:0;
				.event-descr {
					max-width: 235px;
				}
			}
			.event-bottom {
				padding:0;
				> div{
					width:50%;
				}
				> div:last-of-type {
					text-align: right;
				}
			}
		}
	}
}



.sports-section {
	margin-top:30px;
	.sports-wraper{
		margin-top:30px;
		font-size: 0;
		.sport-box {
			width: 270px;
			height: 270px;
			font-size:16px;
			border:1px solid $border-color;
			background:url('../img/sport-background.jpg');
			display: inline-block;
			margin: 0 21px 21px 0;
			overflow: hidden;
			vertical-align: top;
			&:hover {
				.img-box{
					.img-background {
						background:#d83587;
					}
				}
			}
			.img-box {
				width: 100%;
				height: 100%;
				position: relative;
				.img-background {
					width: 300px;
					height: 145px;
					background:#ffffff;
					position: absolute;
					bottom:-20px;
					left:-10px;
					@include transform-rotate(-5deg);
				}
			}

		}
	}
}

.events-section {
	margin-top:30px;
	.chose-events {
		list-style:none;
	}
	.events-wraper {
		margin-top:30px;
		font-size:0;
		.event-box {
			width:100%;
			max-width: 365px;
			height:100%;
			max-height: 435px;
			font-size:16px;
			border:1px solid $border-color;
			display: inline-block;
			margin: 0 21px 21px 0;
			overflow: hidden;
			vertical-align: top;
		}
	}
}

.people-section {
	margin-top:50px;
}
.people-profile {
	width:100%;
	height: 265px;
	margin:0 auto 20px;
	position: relative;
	background:blue;
	.people-profile-desc {
		width:100%;
		color:#ffffff;
		padding:10px;
		position: absolute;
		bottom:0;
		p {
			margin:0 auto 5px;
		}
	}
}

.box-popup {
	width:100%;
	background:#ffffff;
	padding:20px;
	margin-bottom:40px;
	border:1px solid $border-color;
	p {
		margin: 0 auto 0;
	}
}

.single-sport-section {
	margin-top:50px;
}


