{% extends "layout.html" %}

{% block body %}
	<section class="search-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<input placeholder="Szukaj" type="text"/>
				</div>
			</div>
		</div>
	</section>
	<section class="events-section container">
		<div class="row">
			<div class="col-md-12">
				<h1>Sporty</h1><ul><li>Popularne</li><li>Wszystkie</li></ul>
			</div>
		</div>
		<div class="row events-wraper">
			<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon event-ico">Weź udział</div>
						<div class="icon people-ico"> 9/20</div>
						<div class="icon share-ico">Udostępnij</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}