{% extends "layout.html" %}

{% block body %}
	<section class="search-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<input placeholder="Szukaj" type="text"/>
				</div>
			</div>
		</div>
	</section>
	<section class="events-section container">
		<div class="row">
			<div class="col-md-12">
				<h1>Eventy</h1>
				<ul class="chose-events">
					<li>Popularne</li>
					<li>Wszystkie</li>
				</ul>
			</div>
		</div>
		<div class="row events-wraper">
			<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
					<div class="event-box">
				<div class="box-upper">
					<div class="sport-category">Longboard</div>
				</div>
				<div class="box-bottom">
					<div class="event-info">
						<div class="event-calendar">
							<div class="calendar-date"><span>16</span> Czerwiec</div>
							<div class="calendar-time">19:30</div>
						</div>
						<div class="event-descr">
							<h4>Longboardowy poranek na Narodowym</h4>
							<span>Organizator: Meetfir Team</span>
							<div class="event-address">
								
							</div>
						</div>
					</div>
					<div class="event-bottom">
						<div class="icon"><span class="event-ico"></span><span>Weź udział</span></div>
						<div class="icon"><span class="people-ico"></span><span> 9/20</div>
						<div class="icon"><span class="share-ico"></span><span>Udostępnij</span></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}