<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="descritpion" content="{% block metadescr %}{% endblock %}">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	{% block header%}
		<header class="main-header">
			<div class="container">
				<div class="row">
					<div class="header-logo col-md-2">
						<img src="/img/meetfit_logo.png" alt="">
					</div>
					<div class="header-category col-md-8">
							<div class="category-item"><img src="img/people.png" alt=""><span class="category-info">Przeglądaj osoby</span></div>
							<div class="category-item"><img src="img/sporty.png" alt=""><span class="category-info">Sporty</span></div>
							<div class="category-item "><img src="img/events.png" alt=""><span class="category-info">Eventy</span></div>
							<div class="category-item "><img src="img/diet.png" alt=""><span class="category-info">Dieta</span></div>
							<div class="category-item"><span class="category-info">Konto premium</span></div>
					</div>
					<div class="header-user col-md-2">
						<div class="row">
							<div class="col-md-3"><img src="img/friends.png" alt=""></div>
							<div class="col-md-3"><img src="img/notifications.png" alt=""></div>
							<div class="col-md-3"><img src="img/messags.png" alt=""></div>
							<div class="col-md-3">
								<div class="user-profile-img">
									
								</div>
								<ul>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	{% endblock %}
	{% block body %}

	{% endblock %}
	{% block footer %}

	{% endblock %}
<script src="/js/jquery.js" ></script>
<script src="/js/bootstrap.js" ></script>
<script src="/js/masonry.js" ></script>
<script src="/js/main.js" ></script>
</body>
</html>