<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="descritpion" content="{% block metadescr %}{% endblock %}">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	{% block header%}
		<header class="main-header">
			<div class="container">
				<div class="row">
					<div class="header-logo col-lg-2 col-md-5 col-sm-4">
						<img src="/img/meetfit_logo.png" alt="">
					</div>
					<div class="header-category col-lg-8 col-md-4 col-sm-5">
							<div class="category-item"><img src="img/people.png" alt=""><span class="category-info">Przeglądaj osoby</span></div>
							<div class="category-item"><img src="img/sporty.png" alt=""><span class="category-info">Sporty</span></div>
							<div class="category-item "><img src="img/events.png" alt=""><span class="category-info">Eventy</span></div>
							<div class="category-item "><img src="img/diet.png" alt=""><span class="category-info">Dieta</span></div>
							<div class="category-item category-premium"><span class="category-info">Konto premium</span></div>
					</div>
					<div class="header-user col-lg-2 col-md-3 col-sm-3 user-w-1">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="img/friends.png" alt=""></div>
							<div class="user-notifications col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div id="notifications-img" class="notifications-img">
									<img src="img/notifications.png" alt="">
								</div>
								<div id="notifications-menu" class="notifications-menu">
									<div class="menu-triangle"></div>
									<ul class="notifications-list">
										<li>asdasdsasasasasd</li>
										<li>asdasdadsasa</li>
										<li>asdasdadasd</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="img/messags.png" alt=""></div>
							<div class="user-profile col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div id="user-profile-img" class="user-profile-img">
									
								</div>
								<div id="user-menu" class="user-menu ">
									<div class="menu-triangle"></div>
									<ul class="user-menu-list">
										<li>Profil</li>
										<li>Ustawienia</li>
										<li>Wyloguj</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	{% endblock %}
	{% block body %}

	{% endblock %}
	{% block footer %}

	{% endblock %}
<script src="/js/jquery.js" ></script>
<script src="/js/bootstrap.js" ></script>
<script src="/js/masonry.js" ></script>
<script src="/js/main.js" ></script>
</body>
</html>