{% extends "layout.html" %}

{% block body %}
	<section class="container people-section">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>		
		</div>
	</section>
{% endblock %}