{% extends "layout.html" %}

{% block body %}
	<section class="search-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<input placeholder="Szukaj" type="text"/>
				</div>
			</div>
		</div>
	</section>
	<section class="sports-section container">
		<div class="row">
			<div class="col-md-12">
				<h1>Sporty</h1><ul><li>Popularne</li><li>Wszystkie</li></ul>
			</div>
		</div>
		<div class="row sports-wraper">
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
			<div class="sport-box">
				<div class="img-box">
					<div class="img-background"></div>
					<h4>Kategoria</h4></div>
			</div>
		</div>
	</section>
{% endblock %}