{% extends "layout.html" %}

{% block body %}
	<section class="container single-sport-section">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="box-popup">
					<h2>Uprawiasz sport?</h2>
					<p>Pamietaj o podstawowych zasadach zdrowej diety. Interdum malesuada fames ac ante ipsum primis in faucibus. Morbi quam enim, ultricies et est sit amet, molestie scelerisque eros. Suspendisse facilisis massa at ex scelerisque cursus eu ut velit. Curabitur sodales bibendum enim, eget egestas arcu efficitur sed. Morbi quam enim, ultricies et est sit amet, molestie scelerisque eros. Suspendisse facilisis massa at ex scelerisque cursus eu ut velit. Curabitur sodales bibendum enim, eget egestas arcu efficitur sed. Morbi quam enim, ultricies et est sit amet, molestie scelerisque eros. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="people-profile">
					<div class="people-profile-desc">
						<h4>Radosław, 29</h4>
						<p>Scrable, dlugie spacery, wino..</p>
						<div class="profile-box-info">
							<div class="profile-item"><span class="ico-fit-w"></span><span class="profile-data">6</span></div>
							<div class="profile-item"><span class="ico-som-w"></span><span class="profile-data">123</span></div>
						</div>
					</div>	
				</div>
			</div>		
		</div>
	</section>
{% endblock %}